tr[data-slug="cryptocurrency-price-ticker-widget"] .plugin-description strong a {
    color: #eda600;
    font-size: 14px;
}
.cmb-td span.select2.select2-container.select2-container--default.select2-container--below {
    width: 100% !important;
}
a.button.button-secondary.red {
    background-color: #df450b;
    color: #fffefd;
}
.ccpw-review{
	background: #ffffff !important;
    border-left: 4px solid #ffba00;
    padding: 15px !important;
    max-width: 860px;
    display: inline-block;
    border-radius: 4px;
    clear: both;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.ccpw-review img{
	display: inline;float: left;margin-right: 14px;border: 4px solid #e7e2ce;border-radius: 3px;
}
.ccpw-review p {
	display: inline;vertical-align: top;
}
.ccpw-review-btn{
	padding-top: 5px;
}
.ccpw-review-done{
	float: right;
	text-decoration: none;
}